@model Product

@{
    ViewData["Title"] = "Edit a product";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ID" class="control-label"></label>
                        <input asp-for="ID" class="form-control" readonly />
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label"></label>
                        <input asp-for="CategoryID" class="form-control" />
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success float-right"><i class="fa-solid fa-floppy-disk" style="padding:5px"></i>SAVE</button>
                        <a class="btn btn-secondary" asp-action="Index"><i class="fa-solid fa-backward" style="padding:5px"></i>BACK TO LIST</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>